/* normalização */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* formulario cadastro */
#cadastro {
  width: 80%;
  margin: 20px auto;
}

#linha-2-form {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 10px;
  margin: 20px auto;
  justify-content: center;
}
