/* normalização */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* index */

main {
  text-align: center;
  margin-top: 30px;
}

.classa {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  border: 2px solid rgb(13, 110, 253);
  border-radius: 20px;
  color: rgb(13, 110, 253);
  font-weight: 300;
  padding: 10px;
  transition: 0200ms;
  max-width: 200px;
  align-self: center;
}
.classa:hover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  border: 2px solid rgb(13, 110, 253);
  border-radius: 20px;
  color: aliceblue;
  font-weight: 300;
  padding: 10px;
  background-color: rgb(13, 110, 253);
}

.incl-semana {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}

/* formulario cadastro */
form {
  text-align: center;
}
#cadastro {
  width: 80%;
  margin: 20px auto;
}

#linha-2-form {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 10px;
  margin: 20px auto;
  justify-content: center;
}

#enviar-btn {
  width: 150px;
}

/* cadastrado */
.card {
  margin: auto;
  justify-content: center;
  text-align: center;
}

h4 {
  margin: 30px;
}
img {
  max-width: 200px;
  margin: auto;
}
